body{
    background-color: rgb(1, 1, 47);
    margin-top: 50px;
}
.mainCar{
    background-color: white;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 2px grey;
    border-radius: 50px;
    padding: 10px;
    margin-inline: 200px;
}
.carInput{
    display: flex;
    flex-direction: column;
    
}
input{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: white;
}
button{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(120, 70, 167);
    color: white;
}